---
BasedOnStyle: Mozilla
AccessModifierOffset: '-4'
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakConstructorInitializersBeforeComma: 'false'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
ContinuationIndentWidth: '0'
IndentCaseLabels: 'false'
IndentWidth: '4'
Language: Cpp
PointerAlignment: Right
TabWidth: '4'
UseTab: Never

...
